<% if flash[:messages] %>
    <ul>
    <% flash[:messages].each do |msg| %>
        <li style="color:red"><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= bootstrap_form_with model: @group, local: true do |f| %>

    <%= f.text_field :name%>

    <%= f.text_area :description %>

    <%= f.text_field :img_url, label: "Image URL (optional)" %>
    <%= f.hidden_field :creator_id, value: @user.id %>

    <%= f.submit %>
<% end %>
</br>