<h1 style="color:lightblue">Find your community on <em>Centered</em></h1>

</br>
<h2>Recommended Groups</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Members</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        <% @top_matches.each do |group| %>
            <tr>
                <td><%= link_to group.name, group_path(group) %></td>
                <td><%= group.memberships.count %></td>
                <td><%= group.created_at.strftime("%m/%d/%Y") %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<% if @rand_suggestion.count > 0 %>
<h2>You Might Also Like: </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Members</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        <% @rand_suggestion.each do |group| %>
            <tr>
                <td><%= link_to group.name, group_path(group) %></td>
                <td><%= group.memberships.count %></td>
                <td><%= group.created_at.strftime("%m/%d/%Y") %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>

</br>

<h2>Other Groups on <em>Centered</em></h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Members</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        <% (@groups - @rand_suggestion - @top_matches).sort_by(&:name).each do |group| %>
            <tr>
                <td><%= link_to group.name, group_path(group) %></td>
                <td><%= group.memberships.count %></td>
                <td><%= group.created_at.strftime("%m/%d/%Y") %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>
<%= link_to 'Create a new group!', new_group_path, :class => "btn btn-primary"%>
<br/>
<br/>
