<%= stylesheet_link_tag "profile.css" %>



<h1 style="color:lightblue"><%= @group.name %></h2>
<p><em><%= @group.description %></em></p>

<img style="padding:40px" ALIGN="left" class="img-fluid" id="grouppic" src="<%= @group.img_url %>">




<h2>We <em style="color:lightblue">center</em> ourselves with:</h2>
<ul>
    <% @group.activity_types.each do |acti| %>
        <li><%= acti.name %></li>
    <% end %>
</ul>
<br>

<h2>Members</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Joined</th>
        </tr>
    </thead>
    <tbody>
        <% @group.users.each do |user| %>
            <tr>
                <td><%= link_to user.name, user_path(user) %></td>
                <td><%= user.find_group(@group).strftime("%m/%d/%Y") %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @group.belong?(@user) %>
    <%= bootstrap_form_with model: @membership, method: "delete", local: true  do |f| %>
        <%= f.hidden_field :group_id, :value => @group.id %>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <%= f.submit "Leave Group" %>
    <% end %>
<% else %>
    <%= bootstrap_form_with model: @membership, local: true do |f| %>
        <%= f.hidden_field :group_id, :value => @group.id %>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <%= f.submit "Join Group" %>
    <% end %>
<% end %>
<br>
<% if @group.is_creator?(@user) %>
    <%= link_to 'Edit Group', "/groups/#{@group.id}/edit", :method => :get, :class => "btn btn-primary"%>
    <%= link_to 'Delete Group', "/groups/#{@group.id}", :method => :delete, :class => "btn btn-danger"%>
<% end %>

<br>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "<%= url_for @group %>";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "<%= @group.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://centered-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


