<% if flash[:errors] %>
    <h2>Errors:</h2>
    <ul>
    <% flash[:errors].each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>


<%= bootstrap_form_for @user do |f| %>

    <%= f.text_field :name %>
    <br/>

    <%= f.text_field :about, label: "About Me" %>

    <%= f.text_field :contact, label: "Email" %>
    <br/>

    <%= f.text_field :username %>
    <br/>

    <%= f.text_field :photo, label: "Profile Photo Link"%>
    <br/>

    <%= f.password_field :password %>
    <br/>

    <%= f.password_field :password_confirmation %>
    <br/>
    <%= f.submit %>

<% end %>