<h1 style="color:lightblue">Welcome, <%= @user.name %>!</h1>
<h2 style="color:gray">Time to kickstart your wellness journey 🚀</h2>
<div class="btn btn-default">
    | <%= link_to 'Set New Goal', new_goal_path, :class => "btn btn-primary" %> |
    <%= link_to 'Log an Activity', new_activity_path, :class => "btn btn-primary"%> |
    <%= link_to "Logout", "/logout", :method => :delete, :class => "btn btn-primary"  %> |
</div>
</br>
</br>

<% if @user.has_streak? %>
<h2 style="color:lightgreen">Badges:</h2>
<ul>
    <% if @user.streak_today? %>
        <li>Daily Goal: You centered yourself today! &#127881;</li>
    <% end %>

    <% if @user.streak_this_week? %>
        <li>Weekly Goal: You centered yourself every day this week! &#127881;</li>
    <% end %>

    <% if @user.streak_this_month? %>
        <li>Monthly Goal: You centered yourself every day this month! &#127881;</li>
    <% end %>

</ul>
<% end %>
<hr>

<h2 style="color:darkgray">Your Overall Activity Summary:</h2>
<%= line_chart @user.activities.group_by_day(:activity_date).count %>
<hr>

<h2 style="color:darkgray">Your Activity This Week: <%= "None" if @user.activities_this_week.empty? %> </h2>
<% if !@user.activities_this_week.empty? %>
<%= line_chart @user.activities.group_by_day(:activity_date).count, xmin: Date.today - 7, xmax: Date.today %>
<% end %>
<hr>

<h2 style="color:darkgray">Your Activity Summary by Type: <%= "None" if @user.formatted_activities.empty? %></h2>
<% if !@user.formatted_activities.empty? %>
<%= pie_chart @user.formatted_activities %>
<% end %>
<hr>

<h2 style="color:darkgray">Your Goal Progress:</h2>
<%= column_chart @user.formatted_goals, suffix: "%", max: 100 %>


