<h1>Welcome, <%= @user.name %>!</h1>

<%= button_to "Set New Goal", new_goal_path, :method => :get %>
</br>

<%= button_to "Record Activity", new_activity_path, :method => :get %>

</br>



<%= form_with url: "/logout", method: "delete" do |f| %>
	<%= f.submit "Logout" %>
<% end %>