<%= stylesheet_link_tag "profile.css" %>

<h1 style="color:lightblue"><%= params[:id].to_i == session[:user_id] ? "Your" : "#{@user.name}'s" %> Public Profile:</h1>

<% if params[:id].to_i == session[:user_id] %>
    <div class="btn btn-default">
        <%= link_to "Edit Profile", "/users/#{session[:user_id]}/edit", :method => :get, :class => "btn btn-primary"  %>
    </div>
<% end %>


<img style="padding:40px" ALIGN="left" class="img-fluid" id="profilepic" src="<%= @user.photo %>">
</br></br></br>
<h2>Name: <%= @user.name %></h2>
<h2>About Me: <%= @user.about %></h2>
<h2><%= @user.created_at.strftime("Member since: %m/%d/%Y")%></h2>
<h2>Activities Logged on Centered: <%= @user.activities.count %></h2>

<h2>Contact: 
    <a href="mailto:<%=@user.contact%>"> <%= @user.contact%></a>
</h2>
</br></br></br></br>

<% if params[:id].to_i != session[:user_id] %>
    <h3>💫 Your Mutual Groups with <%= @user.name %>: 💫</h3>
    <% Group.all.each do |group| %>
        <p style="text-indent: 40px"><%= link_to group.name, group_path(group) if group.belong?(@user) && group.belong?(User.find(session[:user_id])) %></p>
    <% end %>
<% end %>

</br>