
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <ul>
            <li><%= error %></li>
        </ul>
    <% end %>
<% end %>

<%= form_for @goal do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <br/>

    <%= f.label :target_hours %>
    <%= f.number_field :target_hours, step: 0.5 %>
    <br/>
    <br/>


    <%= f.label "Starting Date: " %>
    <%= f.date_select(:start_day, start_year: Date.today.year)%>
    <br/>    <br/>


    <%= f.label "Ending Date: "  %>
    <%= f.date_select(:end_day, start_year: Date.today.year) %>
    <br/>    <br/>


    <%= f.label :description %>
    <%= f.text_field :description %>


    <%= f.submit %>

<% end %>