
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <ul>
            <li><%= error %></li>
        </ul>
    <% end %>
<% end %>

<%= bootstrap_form_for @goal do |f| %>


    <%= f.text_field :name %>
    <br/>
    <br/>

   
    <%= f.number_field :target_hours, step: 0.5 %>
    <br/>
    <br/>


   
    <%= f.date_select(:start_day, start_year: Date.today.year)%>
    <br/>    <br/>


   
    <%= f.date_select(:end_day, start_year: Date.today.year) %>
    <br/>    <br/>


   
    <%= f.text_area :description %>

    <%= f.submit %>

<% end %>
</br>