<h1>Your Goals:</h1>

<h3>Goals you should focus on:</h3>
<ul>
    <% @user.most_urgent_goals.each do |goal| %>
        <li><%= link_to goal.name, goal_path(goal) %>
    <% end %>
</ul>

<% if !@user.goals_end_this_month.empty?%>
<h3>Goals ending this month:</h3>
<ul>
    <% @user.goals_end_this_month.each do |goal| %>
        <li><%= link_to goal.name, goal_path(goal) %>
    <% end %>
</ul>
<% end %>

<% if !@user.goals_end_this_week.empty?%>
<h3>Goals ending this month:</h3>
<ul>
    <% @user.goals_end_this_month.each do |goal| %>
        <li><%= link_to goal.name, goal_path(goal) %>
    <% end %>
</ul>
<% end %>

<% if !@user.completed_goals.empty?%>
<h3>Completed Goals:</h3>
<ul>
    <% @user.completed_goals.each do |goal| %>
        <li><%= link_to goal.name, goal_path(goal) %>
    <% end %>
</ul>
<% end %>


<%= button_to "Create New Goal", "/goals/new", :method => :get %>
