<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <ul>
            <li style="color:red"><%= error %></li>
        </ul>
    <% end %>
<% end %>

<br>
<%= bootstrap_form_with model: @activity, local: true do |f| %>
    <%= f.collection_select :activity_type_id, @activity_types.sort_by(&:name), :id, :name, include_blank: true, size: 10 %>
    <br>
    <strong><%= f.label "Or Create a new Activity Type:"%></strong>
    <%= f.fields_for :activity_type do |atf| %>
        <%= atf.hidden_field :creator_id, value: @user.id %>
        
        <%= atf.text_field :name %>
        
        <%= atf.text_area :description%>
    <% end %>
    <br>
    
    <%= f.text_area :description %>
    <br>
    
    <%= f.number_field :duration, step: 0.25 %>hours
    <br>
    
    <%= f.date_select :activity_date %>
    <br>
    
    <%= f.number_field :rating %>
    <br>
  
    <%= f.collection_select :goal_id, @goals, :id, :name, include_blank: true %>
    <strong><%= f.label "Or name a new goal:" %></strong>
    <%= f.fields_for :goal do |gf| %>
        <%= gf.hidden_field :user_id, value: @user.id %>
        <%= gf.hidden_field :target_hours, value: 5 %>
        <%= gf.hidden_field :start_day, value: Date.today %>
        <%= gf.hidden_field :end_day, value: Date.today+7 %>
        <%= gf.text_field :name, label: "New Goal Name" %>
    <% end %>
    <br>
    <%= f.submit %>
<% end %>