<h1>Activities List for <%=@user.name%></h1>
<br>
<%= button_to "Log an Activity", "/activities/new", :method => :get %>
<br>
<h2><i>Average Rating by Activity Type:</i></h2>
<ul>
<li>Your least favorite type of activity is <%= @user.most_hated_activity_type %>. Keep working on it champ! &#127942;</li>
</ul>

<%= column_chart @user.formatted_activity_type_ratings, max: 10 %>

<ul>
    <% @activities.each do |act| %>
        <li><%= link_to "#{act.activity_date.strftime('%m/%d/%y')} — #{act.activity_type.name}", activity_path(act) %> </li>
    <% end %>
</ul>




